body {
font-family: "Open Sans", sans-serif;
background: #f7f7f7;
}

.sous-titre {
text-align: center;
margin-top: 5px;
margin-bottom: 20px;
font-size: 20px 
}

h2 {
text-align: center;
margin-top: 20px;
margin-bottom: 5px;
font-size: 35px;
font-weight: 200;
letter-spacing: 2px;
font-family: 'Dairy', sans-serif;
}

.grid {
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
width: 55%;
margin: auto;
}

.card {
background: white;
border-radius: 12px;
overflow: hidden;
text-decoration: none;
color: black;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
transition: 0.2s;
}

.card:hover {
transform: scale(1.03);
}

.card img {
width: 100%;
display: block;
}

.text {
padding: 10px;
font-weight: bold;
}

.end-message {
display: flex;
justify-content: center;
margin-top: 20px;
}
.end-message .title {
font-size: 18px;
margin: 20px;
}

.end-message .subtitle {
font-size: 20px;
font-weight: bold;
margin: 5px 0 25px 0;
}

.journal {
display: inline-block;
background-color: #f0f0f0;
padding: 10px 18px;
border-radius: 10px;
text-decoration: none;
color: black;
font-family: "Open Sans", sans-serif;
font-size: 12px;
font-weight: bold;
}

.journal:hover {
background-color: #e2dfdf;
}